<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting  name="LicenseFile">
                <patch:attribute name="value">$(dataFolder)/license-20130402214953.xml</patch:attribute>
            </setting >
        </settings>
    </sitecore>
</configuration>