<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
    <add name="core" connectionString="user id=sitecore;password=password;Data Source=(local)\sqlexpress;Database=VUG_Core" />
<add name="master" connectionString="user id=sitecore;password=password;Data Source=(local)\sqlexpress;Database=VUG_Master" />
<add name="web" connectionString="user id=sitecore;password=password;Data Source=(local)\sqlexpress;Database=VUG_Web" />

</connectionStrings>